body {
    background-color: gray;
    direction: rtl;
    background: linear-gradient(to right, black 40%, #64748b);
}
h1 {
    text-align: center;
    color: white;
    font-size: 5rem;
    margin-bottom: 0;
}
h2 {
    color: white;
    font-size: 3rem;
}
h3 {
    color: white;
    font-size: 2rem;
}
h4 {
    color: white;
}
p {
    color: white;
}
main {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#logo {
    height: 200px;
    border-radius: 10%;
}
.btn {
    padding: 10px 10px;
    font-size: 1.25rem;
    border-radius: 8px;
}

/*
  Menu Section
*/
.menu {
    border: 2px solid white;
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

.menu th {
    border: 2px solid white;
    width: 200;
}
.menu td {
    border: 2px solid white;
    width: 200;
}
.price {
    color: white;
    font-size: 1.5rem;
}
.description {
    color: white;
}
.img {
    width: 150px;
    height: 100px;
}

.tosafid {
    text-align: right;
    color: white;
}
.btnSection {
    display: flex;
}
#Htosafid {
    width: 150;
}

#priceCalcBtn {
    font-size: 15px;
    padding: 20px 35px;
    border-radius: 8px;
}
.saas {
    padding-bottom: 50px;
}
