body{
	background-color:gray;
	text-align: center;
}
h1{
	text-align:center;
}

table{
	margin: 0 auto;
	text-align:center;
	border:2px solid black;
	width:60%;
	
}

th, td {
    border: 2px solid black;
	width:200;	
}

#Htosafid{
	width:150;
}

#tosafid{
	text-align:left;
}

#button{
	font-size: 15px;
	padding: 20px 35px;
	border-radius: 8px;
	text-align: center;
}



